.ctxBtn {
        padding: 4px;
        font-size: 16px;
        color: white;
        background-color: #282a36;
        border-radius: 4px;
        border: none;
}

.ctxBtnWrapper {
    position: absolute;
    top : 0;
    transform: translateX(-2px) translateY(-100%);
    display: flex;
}

.resize {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-color: green;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    border-radius: 50%;
    z-index: -1;
}