.app {
  width: 80%;
  margin: auto;
}

.output {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid black;
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #282a36;
}
