.modelBtn, .modelLabel {
    padding: 1rem;
    width: 100%;

    &:hover {
        background-color: darken($color: #dee1e6, $amount: 30);
    }

    svg,
    p {
        pointer-events: none;
    }

    cursor: pointer;
    position: relative;
    color: #dee1e6;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}