.modelBtn,
.modelLabel {
  padding: 0.75rem;
  width: 100%;

  &:hover {
    background-color: darken($color: #dee1e6, $amount: 30);
  }

  svg,
  p {
    pointer-events: none;
  }

  p span {
    margin-left: 0.25rem;
    font-size: 1rem;
  }

  cursor: pointer;
  position: relative;
  color: #dee1e6;
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 8px;
}

.modelIcon {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: auto;

  p {
    margin-top: 4px;
  }
}

@media screen and (max-width: 800px){
  .modelBtn,
  .modelLabel {
    p {
      display: flex;
      white-space: nowrap;
    }
  }
  
}